<div class="page-name">
  <h4>User Login</h4>
</div>
<div class="login container">
  <div class="col-md-4 pad-15">
  <h2 class="login-header">Log in</h2>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
      <input type="email" placeholder="Email" formControlName="email" class="form-control">
    </p>

    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
      <div *ngIf="formControls.email.errors.required">Email is required</div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input type="password" placeholder="Password" formControlName="password" class="form-control">
    </p>

    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>

    <div *ngIf="isFound" class="help-block">
      <div >User Not Found</div>
    </div>

    <p>
      <input type="submit" value="Log in" class="btn btn-primary btn-block">
    </p>
  </form>
  </div>
</div>