.col-md-4 {
    margin-bottom: 4px;
    margin-top: 6px;
}
.container{
    min-height: 500px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.page-name {
    padding: 5px;
    background-color: #f5f4f4;
    padding-left: 31px;
}