<div class="page-name">
  <h4>Gallery</h4>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-4">
    <img src="assets/1.jpg" width="100%">
  </div>
  <div class="col-md-4">
    <img src="assets/1.jpg" width="100%">
  </div>
  <div class="col-md-4">
    <img src="assets/1.jpg" width="100%">
  </div>
  <div class="col-md-4">
    <img src="assets/1.jpg" width="100%">
  </div>
  <div class="col-md-4">
    <img src="assets/1.jpg" width="100%">
  </div> <div class="col-md-4">
    <img src="assets/1.jpg" width="100%">
  </div>
  </div>
</div>