
.container {
    min-height: 500px;
}
.image {
    width: 50%;
    padding: 15px;
    img {
        width: 100%;
    }
}
.data {
    width: 50%;
    padding: 15px;
}
.page-name {
    padding: 5px;
    background-color: #f5f4f4;
    padding-left: 31px;
}